@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../font/mulish-v5-latin-regular.eot');

    src: local(''),
        url('../font/mulish-v5-latin-regular.eot?#iefix') format('embedded-opentype'),

        url('../font/mulish-v5-latin-regular.woff2') format('woff2'),

        url('../font/mulish-v5-latin-regular.woff') format('woff'),

        url('../font/mulish-v5-latin-regular.ttf') format('truetype'),

        url('../font/mulish-v5-latin-regular.svg#Mulish') format('svg');

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish,sans-serif;
}

/* navbar  */

.container {
    padding: 30px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.nav {
    display: flex;
    margin-right: 100px;

}

.nav_itam {
    list-style-type: none;
    margin-left: 50px;
    padding-top: 20px;
}

.nav_itam>a {
    text-decoration: none;
    color: black;
}

.nav_itam_home {
    font-weight: bolder;
}

.nav_itam_a {
    color: #1F1534;
    opacity: 0.5;

}

/* header  */


.header {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 40%;
    padding-right: 200px;
    padding-top: 50px;

}

.left>h1 {
    margin-bottom: 25px;

}

.left>p {
    margin-bottom: 25px;
    color: #1F1534;
    opacity: 0.5;


}

.button1 {
    background-color: rgba(69, 143, 246, 1);
    border-color: rgba(69, 143, 246, 1);
    border-radius: 25px;
    color: white;
    padding: 10px 17px;

}

.right {
    width: 40%;
    margin-right: 150px;
}

.right>img {
    width: 100%;

}

.section {
    margin-top: 30px;
}

.section>h1 {
    text-align: center;
}

.section_title {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;

}

.section_father {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_child {
    width: 360px;
    padding: 30px 30px 30px 80px;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

}

.section_child>h3 {
    margin: 30px 0;

}

.p_traflgar {
    color: #1F1534;
    opacity: 0.5;

}

.button2 {
    display: block;
    width: 150px;
    margin: 20px auto;
    text-decoration: none;
    border: 1.5px solid rgba(69, 143, 246, 1);
    border-radius: 17px;
    padding: 10px 25px;

}

.button2>a {

    text-decoration: none;
    color: rgba(69, 143, 246, 1);
}

.Leading,
.Download {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;


}



.leading_left {
    width: 40%;

}

.leading_left>img {
    width: 100%;

}


.leading_right {
    width: 40%;
    padding-top: 50px;
    padding-right: 100px;
}

.leading_right>h2 {
    margin: 20px 0;

}

.button3 {
    text-decoration: none;
    border: 1.5px solid rgba(69, 143, 246, 1);
    border-radius: 17px;
    padding: 10px 25px;
    margin-top: 20px;

}

.button3>a {
    text-decoration: none;
    color: rgba(69, 143, 246, 1);
}

.Download>.leading_right>h2 {
    padding-right: 100px;
}

.testimonials {}

.testi {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    padding: 18px 50px 59px;
}

.testi>h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.testi_father {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.testi_child {
    width: 300px;
}

.testi_child>.p_traflgar {
    color: rgba(255, 255, 255, 0.9);
}

.Edward {
    display: flex;
    justify-content: space-between;
    width: 52%;
    align-items: center;
}

.Edward>img {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;

}

.Edward>.Edwardd>h3 {
    color: white;
    margin-bottom: 10px;

}

.article {}

.article>h2 {
    text-align: center;
    margin-bottom: 80px;
}

.article_father {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


.article_child {
    border-radius: 15px;
    width: 300px;
}

.article_child>img {
    width: 100%;
}

.article_child>h4 {
    width: 80%;
    margin: 20px 0;
    padding-left: 20px;

}

.article_child>p {
    width: 80%;
    padding-left: 20px;

}

.article_child>a {
    display: inline-block;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 20px;

}

footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer_father {
    display: flex;
    justify-content: space-around;
    padding: 70px 100px 30px;
}

.footer_child_left {
    width: 30%;
}

.footer_child_right {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.child_right_child {}

.footer {}

.footer_itam {
    list-style-type: none;
    margin-bottom: 10px;

}

.footer_itam>a {
    text-decoration: none;
    color: white;
}

.footer_child_left>h3 {
    margin-bottom: 30px;
    color: white;
    font-weight: bolder;
}

.footer_child_left>.footer_p {
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}

.footer_child_left>.footer_tr_p {
    color: white;
}

.footer>.itamss {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}